CONFIG_RECEIVER=y
CONFIG_915MHZ=y
CONFIG_USE_TCXO=y
CONFIG_TCXO_VOLTAGE_MV=1800
CONFIG_MISO_GPIO=22
CONFIG_SCLK_GPIO=21
CONFIG_MOSI_GPIO=23
CONFIG_NSS_GPIO=15
CONFIG_RST_GPIO=4
CONFIG_BUSY_GPIO=20
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
